MYSQL_ROOT_PASSWORD="myrootpassword" # Root password for mysql
VIP_DATABASE_HOST="127.0.0.1" # IP Address of mysql server
ICINGAWEB_ICINGA2_API_USER_PASSWORD="icingaweb"
ICINGA_HOST="127.0.0.1" # IP ADDRESS OF ICINGA MASTER HOST
ICINGA_ENDPOINT="nms-01" # FQDN OF ICINGA MASTER HOST
REDIS_HOST="127.0.0.1"
ICINGA_DIRECTOR_MYSQL_PASSWORD="password"
ICINGADB_MYSQL_PASSWORD="password"
ICINGAWEB_MYSQL_PASSWORD="password"